<%= simple_form_for @comment, html: { id: "comment_form" }, url: course_comments_path(@course) do |f| %>
  <%= f.hidden_field :course, value: "@course" %>
  <%= f.input :comment_text %>
  <%= f.submit "Submit Comment" %>
<% end %>

<h1> this is a header</h1>
<div id="comment-listing">
  <% if @comments %>
    <% @comments.each do |comment| %>
      <%= comment.comment_text %>
      <%= link_to "Edit", edit_course_comment_path(@course, comment) %>
    <% end %>
  <% end %>
</div>
