<div id="course_details">
  <h2>
    <%= @course.name %>
    <%= @course.url %>
    <%= @course.description %>

  </h2>
</div>


<%= simple_form_for @comment, html: { id: "comment_form" }, url: course_comments_path(@course) do |f| %>
  <%= f.hidden_field :course, value: "@course" %>
  <%= f.input :comment_text %>
  <%= f.submit "Submit Comment" %>
<% end %>

<% if @comments %>
  <% @comments.each do |comment| %>
    <div class="col-sm-10", id-"comment-listing">
      <div class="panel panel-default">
          <div class="panel-heading">
            <%= "#{comment.user.name}" %>
          </div>
          <div class="panel-body">
            <%= "#{comment.comment_text}" %>
          </div>
        <p class="pull-right">
          <span class="label label-default">keyword</span>
          <span class="label label-default">tag</span>
          <span class="label label-default">post</span></p>
        <ul class="list-inline pull-left edit-spec">
          <li><a href="#">2 Days Ago</a></li>
          <% if comment.user == current_user %>
            <li>
              <i class="glyphicon glyphicon-edit"></i>
              <%= link_to "Edit", edit_course_comment_path(@course, comment) %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <hr>
  <% end %>
<% end %>
