<div id="course_details", class="well well-lg">
  <h2>
    <%= @course.name %>
    <%= @course.url %>
    <%= @course.description %>

  </h2>
</div>


<%= simple_form_for @comment, html: { id: "comment_form" }, url: course_comments_path(@course) do |f| %>
  <%= f.hidden_field :course, value: "@course" %>
  <%= f.input :comment_text %>
  <%= f.submit "Submit Comment" %>
<% end %>

<div id="comments">
  <% if @comments %>
    <% @comments.each do |comment| %>
      <div class="votable">
        <%= link_to '<i class="glyphicon glyphicon-arrow-up up-arrow"></i>'.html_safe, like_course_comment_path(@course, comment), class: "up-arrow-link", method: :put %>
        <div class="comment_likes">
          <%= comment.get_likes.size %>
        </div>
        <%= link_to '<i class="glyphicon glyphicon-arrow-down down-arrow"></i>'.html_safe, dislike_course_comment_path(@course, comment), class: "down-arrow-link", method: :put %>
      </div>
      <div class="content">
          <div class="panel panel-default">
              <div class="panel-heading">
                <%= "#{comment.user.name}" %>
              </div>
              <div class="panel-body">
                <%= "#{comment.comment_text}" %>
              </div>
            <p class="pull-right">
              <span class="label label-default">keyword</span>
              <span class="label label-default">tag</span>
              <span class="label label-default">post</span>
            </p>
            <ul class="list-inline pull-left edit-spec">
              <li><a href="#">2 Days Ago</a></li>
              <% if comment.user == current_user %>
                <li>
                  <i class="glyphicon glyphicon-edit"></i>
                  <%= link_to "Edit", edit_course_comment_path(@course, comment) %>
                </li>
              <% end %>
            </ul>
          </div>
      </div>
      <hr>
    <% end %>
  <% end %>
</div>
